[Unit]
Description=Meilisearch Document Search
After=network-online.target

[Container]
Image=docker.io/getmeili/meilisearch:v1.12.8
ContainerName=meilisearch-docs
AutoUpdate=registry

Secret=meilisearch_docs_key,type=env,target=MEILI_MASTER_KEY
Environment=MEILI_NO_ANALYTICS=true

Volume=/zfs/Apps/AppData/meilisearch-docs:/meili_data

Network=podman-frontend

PodmanArgs=--memory 2g --cpus 1

NoNewPrivileges=true

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
